body{
    margin: 0 auto;
    padding: 20px;
    font-family: 'Capriola', sans-serif;
    background-color: cadetblue;
    background-image: url("https://estaticos-cdn.sport.es/clip/38b0d8e9-8e30-46ad-80fb-91325118a3e1_media-libre-aspect-ratio_default_0.jpg");
    background-size: cover;
    background-attachment: fixed;
}