$colorvioleta:rgb(36, 72, 233);
$colorblanco:rgb(255, 255, 255);
$colorNegro:rgb(0, 0, 0);
$colorGris:rgb(112, 128, 144);
$colorVerde: rgb(8, 48, 11);
$colorRojo: rgb(252, 1, 51);
$colorVerdeClaro: rgb(56, 155, 10);
$colorVerdeFondo:rgb(173, 206, 116);