@import"colores";
@import"body";
@import"header";
@import"footer";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: 'Sedgwick Ave Display', cursive;
    color:$colorvioleta;
    font-size: 100px;
    text-overflow: ellipsis;
    
}
main{
    margin-top: 1.5rem;
    margin-left: 5%;
    width: 90%;
}
.contenedor{
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.subtitulo{
    text-align: center;
    font-size: 2.5rem;
}
.imagen1,.imagen2,.imagen3{
    width: 100%;
    height: 60%;
}
.cantidadPersonas{
    text-align: center;
    color: white;
}
.caja2{
    background-image: linear-gradient(to bottom,rgb(20, 161, 32),rgb(0, 0, 0));
}
.caja1{
    color:white;
    background-image: linear-gradient(to bottom,rgb(20, 161, 32),rgb(0, 0, 0));
}
.caja3{
    color:white;
    background-image: linear-gradient(to bottom,rgb(20, 161, 32),rgb(0, 0, 0));
}
.promo{
    background-color: $colorRojo;
    color: $colorblanco;
}
.colorBotones{
    background: $colorVerdeClaro;
    color: $colorblanco;
}
.divMargen{
    padding: 1rem;
}
.colorTexto{
    color: $colorNegro;
}
.cuerpoAcordeon{
    color: black;
    background: blue;
}