@import"body";
@import "footer";
@import "header";
@import "colores";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: 'Sedgwick Ave Display', cursive;
    color: $colorvioleta;
    font-size: 100px;
    text-overflow: ellipsis;
    
}
.contenedor{
    margin: 0 auto;
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
h3{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
    color: $colorblanco;
}
main{
    margin-top: 1.5rem;
    background-color: $colorVerde;
    border: 0.2rem $colorNegro solid;
    border-radius: 40px 0px;
    justify-content: center;
    justify-items: center;
    display: grid;
    grid-column-gap:1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    grid-template-areas: 
        "divUno divDos divTres"
        "divCuatro divCuatro divCuatro";
}
.divUno{
    grid-area: divUno;
}
.divDos{
    grid-area: divDos;
}
.divTres{
    grid-area: divTres;
}
.divCuatro{
    grid-area: divCuatro;
    color:$colorblanco;
}
.fotos{
    width: auto 100%;
    
    border: outset 0.2rem $colorblanco;
}
.primera{
    border-radius: 40px 0px 0px 0px;
}
.divUno,.divDos,.divTres,.divCuatro{
    margin: 1rem;
}
table{
    border:solid 3px $colorblanco;
    tr{
        border:solid 3px $colorblanco;
        th{
            border:solid 3px $colorblanco;
            padding: 0.4rem;
        }
    }
    td{
        border:solid 3px $colorblanco;
    }
}
@media screen and (max-width: 768px) {
    header .menu a{
        font-size: 0.9rem;
    }
    main{
        width: 100%;
        margin-top: 1.5rem;
        background-color: $colorVerde;
        border: 0.2rem $colorNegro solid;
        border-radius: 40px 0px;
        justify-content: center;
        justify-items: center;
        display: grid;
        grid-column-gap:1rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "divUno"
            "divDos"
            "divTres"
            "divCuatro"
    }
    header .logo img{
        width: 120px;
    }
    h1{
        font-size: 80px;   
    }
}